.home__main-content{
    align-items: center;
    background-color: #232323;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    
    p {
        text-align: center;
    }
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 45vh;
}

.centered-bottom{
    display: flex;
    flex-direction: column;
    height: 45vh;
    justify-content: flex-end;
    overflow: hidden;
    padding-bottom: 3%;
    text-align: center;
}

.home-time{
    font-size: 15vh;
    letter-spacing: -5px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

.quote{
    text-shadow: 2px 8px 6px rgb(0 0 0 / 20%), 0px -5px 35px rgb(255 255 255 / 30%);
}
.quote-author{
    font-family: Times New Roman; 
}

.inner-shadow{
    box-shadow: inset 0 30px 40px 10px black;
}

.top-bar-home{
    display: flex;
    justify-content: space-between;
    padding: 10px; 
    height: 10vh;
}
