#sidebar {
    color: rgb(255, 255, 255);
}

/* Shrinking the sidebar to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.pro-sidebar-header {
    display: flex;
    justify-content: center;
}

.sidebar-header {
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.sidebar-logo {
    height: 80px;
    width: 80px;
}

.sidebar-closed-header {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar-closed-logo {
    height: 50px;
    width: 50px;
}

.rotate {
    &:hover {
        animation: rotation 3s infinite linear;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media (max-width: 768px) {
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
}