#sidebar {
    color: rgb(255, 255, 255);
}

/* Shrinking the sidebar to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.pro-sidebar-header {
    display: flex;
    justify-content: center;
}

.sidebar-header {
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.sidebar-logo {
    height: 80px;
    width: 80px;
}

.sidebar-closed-header {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar-closed-logo {
    height: 50px;
    width: 50px;
}

.rotate {
    &:hover {
        -webkit-animation: flip 1.2s infinite alternate-reverse;
        animation: flip 1.2s infinite alternate-reverse;
    }
}

@keyframes flip {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@media (max-width: 768px) {
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
}